html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/background.jpg");
}

.sketchBoard {
    flex: 1;
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: #FF10F0;
    box-shadow: 0px 0px 20px 10px #FF10F0;
}

.sketchContainer {
    flex: 1 1 0;
    margin: 0px 60px 20px 60px;
    min-width: 960px;
    min-height: 600px;
    border: 0px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.gridSquare {
    flex: 1;
    min-width: calc(100% / 16);
    min-height: calc(100% / 16);
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline:solid 1px black;
    background-color: white;
}

.gridSquareOn {
    background-color: gray;
}

.gridSelector {
    min-height: 20px;
    margin: 0px 0px 20px 0px;
}

#gridSelection {
    font-size: 20px;
    font-weight: bold;
    color: #FF10F0;
    cursor: pointer;
    background-color: midnightblue;
    padding: 8px;
    border-radius: 10px;
}

.Title {
    font-family: Fantasy, Arial, Helvetica, sans-serif;
    font-size: 41px;
    font-weight: bold;
    color: midnightblue;
    min-height: 20px;
    margin: 10px 0px 0px 0px;
}

